* {
  font-family: sans-serif;
}

.banner {
  background-color: #41a4f5 !important;
  width: 100%;
  background-size: cover;
}

.image img {
  width: 240px;
}

.content {
  color: #fff;
  padding-bottom: 20px;
}

.content h2 {
  font-size: 4rem;
  font-weight: bolder;
}

.content p a {
  color: #095ece;
}

.hire-me {
  background-color: #3483C4 !important;
  color: #ffffff;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none !important;
  border-radius: 5px !important;
}

.hire-me:hover {
  background-color: #3b93db !important;
  color: #ffffff !important;
}

/* banner area close here */
/* skill section start here */
.skill h2 {
  font-size: 1.75rem;
  font-weight: 700 !important;
  color: #434e5e;
  font-family: sans-serif;
}

.skill p {
  padding-left: 60px;
  padding-right: 60px;
  color: #808080;
  text-align: justify;
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .skill p {
    width: 100%;
    padding: 0;
  }
}

/* card section start here */
.cards-body-heading h1 {
  line-height: normal !important;
}

.cards-body-heading h1 a {
  color: #41a4f5 !important;
  font-size: 22px;
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .cards-body-heading h1 a {
    font-size: 16px;
    line-height: normal !important;
  }
}

.card-body-text p {
  color: #434e5e;
}

.card {
  -webkit-box-shadow: 0 10px 20px rgba(141, 137, 137, 0.3);
          box-shadow: 0 10px 20px rgba(141, 137, 137, 0.3);
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card .box {
  position: relative;
}

.card .box .img {
  width: 100px;
  height: 100px;
  margin: 30px auto;
  background-color: #007bff;
  padding: 30px;
  border-radius: 50%;
  text-align: center;
}

.card .box img {
  width: 100%;
  height: 100%;
  position: relative;
}

.card .box h2 {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  color: #434e5e;
}

.card .box p {
  margin-top: 20px;
  padding-left: 50px;
  color: #808080;
}

.card .box i {
  color: #41a4f5;
}

.title h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #434e5e;
  font-family: sans-serif;
}

.card-icons {
  color: #41a4f5;
  font-size: 40px;
}

.card-body a {
  color: #41a4f5;
  float: right;
}

.card-body a:hover {
  color: #41a4f5;
}

.client-bg {
  background-color: #ffffff;
}

/* project */
.blog-bg {
  background-color: #f7f8fa;
}

.cards-image {
  width: 100%;
  height: 220px;
}

.cards-image img {
  width: 100%;
  height: 100%;
}

.cards {
  background-color: white !important;
  -webkit-box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.12);
}

.project-list li {
  list-style: none;
  display: inline;
  color: #c0bdbd;
  font-size: 14px;
}

.project-list li a {
  color: #c0bdbd;
}

/* featured in styling start here */
.featuredin-bg {
  background-color: #ffffff !important;
}

.featured-title h2 {
  font-weight: 700 !important;
  text-align: center;
  color: #434e5e;
  font-size: 24px;
  font-family: sans-serif;
}

.carousels {
  /* background-color: #00aeff !important; */
  border-radius: 10px !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2193b0), to(#6dd5ed));
  background-image: linear-gradient(#2193b0, #6dd5ed);
}

.slider img {
  width: 150px !important;
  height: 150px !important;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 30px;
}

.slider p {
  /* background-color: #00f7ff !important; */
  color: #ffffff !important;
  opacity: 1 !important;
  font-size: 18px !important;
  font-family: sans-serif;
}

.carousel .thumb {
  display: none !important;
}

.carousel-status {
  display: none !important;
}

.carousel button {
  /* background-color: orange !important; */
  display: none !important;
}

.slider-title h1 {
  padding-bottom: 25px;
  color: #606974 !important;
  font-weight: bold;
}

/* .carousel button .control-prev{
    color: orangered !important;
    background-color: orangered !important;

} */
.project-card-bg {
  background-color: white;
  -webkit-box-shadow: 0px 9px 18px rgba(212, 210, 210, 0.979);
          box-shadow: 0px 9px 18px rgba(212, 210, 210, 0.979);
}

.project-card-image img {
  width: 100%;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-project {
  background-color: #3483C4 !important;
  color: #ffffff;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none !important;
  border-radius: 5px !important;
}

.view-project:hover {
  background-color: #3b93db !important;
  color: #ffffff !important;
}

.project-card-image {
  position: relative;
  color: white;
}

.project-card-image .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff !important;
}

.project-card-text {
  text-align: center;
}

.project-card-text h1 {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 500;
  padding: 8px 0px 0px 0px;
}

.list-text p {
  font-size: 12px;
  color: white;
  background-color: #58677c;
  font-weight: bold;
  border-radius: 10px;
  padding: 2px 0px !important;
}

.feature-project-heading .main-heading {
  font-size: 28px;
  font-weight: bold;
}

.project-card-text h1 {
  color: #434e5e;
  font-size: 16px !important;
}

.feature-project-heading h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #434e5e;
  font-family: sans-serif;
}

.project-title h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #434e5e;
  font-family: sans-serif;
}

.about-grid .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 16px;
}

@media only screen and (max-width: 992px) {
  .about-grid .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .about-grid .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 16px;
  }
}
/*# sourceMappingURL=about.css.map */