$color-lightblue: #41a4f5;
$color-white: #ffffff;
$color-lighgray: #f7f8fa;
$color-orange: #ffa700;
$color-black: #000000;
$color-lightgray: #e0dcdc;
$color-darkgray: #808080;
$color-gray: #434e5e;
$color-btn:#3483C4;
$color-hover:#3b93db;
$color-lightblack:#58677C;

.blog-intro{
    background-color: #41A4F5;
}
.media img{
    width: 160px;
    height: 160px;
}
.blog-header-title h2{
    font-weight: bold;
    font-size: 2rem;
}
.blog-header-tagline p{
    max-width: 700px;
    font-size: 1.25rem;
}
.list-inline ul{
}
.list-inline-item{
    font-size: 1.5rem;
}

/* media section start here */

// .blog-bg{
   
//     display: block;
// }
.blog-img img{
    width: 100%;
   height:100%;
}
.blog-heading h4{
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.2;
    padding-left: 1.5rem !important;
    color: #41A4F5;

}
.blog-text p{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #434E5E;
    text-align: left;
    padding-left: 1.5rem !important;

}
.card-title{
    color: #41A4F5;
    text-decoration: none;
    background-color: transparent;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
}
.image-inner{
    height: 200px;
}
.image-inner img{
    height: 100%;
    object-fit: cover;
    transition: all 1s ease;
}
.image-inner:hover img{
    transform: scale(1.1);
}
.blog-date{
    background-color: #d4cece;
    padding: 3px;
    color: #747679;
    font-size: 0.8rem;
}
.card-footer ul{
    list-style: none;
    padding-left: 0 !important;
    color: #747679;
}
.card-footer ul li{
display: inline-block;
}
.card-footer ul li a{
    color: #a8a1a1;
}
.card{
    border: none;
}
.blo-card-text h1 a{
    color: $color-lightblue !important;
    text-decoration: none;
    font-size: 14px;
}
.blo-card-text p{
    color: $color-lightblack;
}
.grid-container {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 16px;
    @media only screen and (max-width:992px) {
        display: grid;
          grid-template-columns: repeat(2,1fr);
          grid-column-gap: 10px;
          grid-row-gap: 16px;
      }
      @media only screen and (max-width:768px) {
        display: grid;
          grid-template-columns: repeat(1,1fr);
          grid-column-gap: 10px;
          grid-row-gap: 16px;
      }
    
  }