$color-lightblue: #41a4f5;
$color-white: #ffffff;
$color-lighgray: #f7f8fa;
$color-orange: #ffa700;
$color-black: #000000;
$color-lightgray: #e0dcdc;
$color-darkgray: #808080;
$color-gray: #434e5e;
$color-btn:#3483C4;
$color-hover:#3b93db;
$color-lightblack:#58677C;
.blog{
    
    position: relative !important;
}
// corner left ribon
.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #3498db;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
  }
  .ribbon-top-left {
    top: -0px;
    left: -15px;
  }
  .ribbon-top-left::before,
  .ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .ribbon-top-left::before {
    top: 0;
    right: 0;
  }
  .ribbon-top-left::after {
    bottom: 0;
    left: 0;
  }
  .ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
  }
//  end here

.blog-intro{
    background-color: #41A4F5;
}
.media img{
    width: 160px;
    height: 160px;
}
.blog-header-title h2{
    font-weight: bold;
    font-size: 2rem;
}
.blog-header-tagline p{
    max-width: 700px;
    font-size: 1.25rem;
}
.list-inline ul{
}
.list-inline-item{
    font-size: 1.5rem;
}

.blog-img img{
    width: 100%;
   height:300px;
   object-fit: cover;
}
.blog-heading h4{
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.2;
    padding-left: 1.5rem !important;
    color: #41A4F5;

}
.blog-text p{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #434E5E;
    text-align: left;
    padding-left: 1.5rem !important;

}
.card-title{
    color: #41A4F5;
    text-decoration: none;
    background-color: transparent;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
}
.image-inner{
    height: 200px;
    position: relative;
}
.image-inner .centere {
    position: absolute;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 24px !important;
    font-family: 'Droid Serif', serif;
    font-weight: bold;
    top: 50% !important;
    left: 50% !important;
    padding-top: 90px;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    color: $color-white !important;
    opacity: 0;
    //    display: none !important;

    transition: 0.8s !important;
}
.image-inner img{
    height: 100%;
    object-fit: cover;
    transition: all 1s ease;
}
.image-inner:hover img{
    filter: blur(4px);
}
.image-inner:hover .centere{
    opacity: 1 !important;
   
}
.blog-date{
    background-color: #d4cece;
    padding: 3px;
    color: #747679;
    font-size: 0.8rem;
}
.card-footer ul{
    list-style: none;
    padding-left: 0 !important;
    color: #747679;
}
.card-footer ul li{
display: inline-block;
}
.card-footer ul li a{
    color: #a8a1a1;
}
.card{
    border: none;
    
}
.blo-card-text h1 a{
    color: $color-lightblue !important;
    text-decoration: none;
    font-size: 14px;
}
.blo-card-text p{
    color: $color-lightblack;
}
.grid-container {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 16px;
    @media only screen and (max-width:992px) {
        display: grid;
          grid-template-columns: repeat(2,1fr);
          grid-column-gap: 10px;
          grid-row-gap: 16px;
      }
      @media only screen and (max-width:768px) {
        display: grid;
          grid-template-columns: repeat(1,1fr);
          grid-column-gap: 10px;
          grid-row-gap: 16px;
      }
    
  }