$color-lightblue: #41a4f5;
$color-white: #ffffff;
$color-lighgray: #f7f8fa;
$color-orange: #ffa700;
$color-black: #000000;
$color-lightgray: #e0dcdc;
$color-darkgray: #808080;
$color-gray: #434e5e;
$color-btn:#3483C4;
$color-hover:#3b93db;
.hero-bg{
    background-color:$color-lightblue;
    color:$color-white !important;
}
.project-bg{
    background-color: $color-lighgray;
}
.menu button{
    color:$color-gray;
    font-family: sans-serif;
    font-size: 16px;
    border: none;
    padding: 3px 5px;
    background-color:transparent;
}
.menu button:hover{
    background-color: $color-lightblue;
    color:$color-white;
    border-radius: 5px;
}
.menu button:focus{
    border: none !important;
    outline: none !important;
    background-color: $color-lightblue !important;
    color:$color-white;
    border-radius: 5px;

}

.menu{
    text-align: center;
    padding: 0;
   
 
    // background-color: red;
}
.list-text p{
    font-size: 11px !important;
    @media only screen and (max-width: 440px) {
        font-size: 8px !important;
      }
}
.project-card-text h1 a{
    text-decoration: none;
    color: $color-lightblue;
    font-size: 16px;
}
.project-card-text h1 a:hover{
    color:$color-hover;
}
.project-card-image img{
    height: 200px;
    object-fit: cover;
}