$color-lightblue: #41a4f5;
$color-white: #ffffff;
$color-lighgray: #f7f8fa;
$color-orange: #ffa700;
$color-black: #000000;
$color-lightgray: #e0dcdc;
$color-darkgray: #808080;
$color-gray: #434e5e;
$color-btn:#3483C4;
$color-hover:#3b93db;
$color-lightblack:#58677C;


// .cv-header{
//     background-color: #41A4F5;
// }
// .cv-header-title h2{
//     font-weight: bold;
//     font-size: 2rem;
//     color: #fff;
// }
// .btn{
//     color: #fff;
//     border: none;
//     right: 15px;
//     top: 0;
// }
// .btn:hover{
//     background: rgba(0,0,0,0.2);
//     color: #fff;
// }
.hero-bg{
    position: relative;
}


.resume .container{
    box-shadow: 0 10px 20px rgba(141, 137, 137, 0.3);
    background-color: $color-white !important;
    
    width: 80%;
    @media only screen and (max-width:992px) {
        width: 100%;
      }
}
.cv-profile-title h1{
    font-size: 36px;
    font-weight: bold;
    padding: 2px 0px;
    @media only screen and (max-width:450px) {
        font-size: 26px;
      }
}
.cv-profile-title h2{
    font-size: 26px;
    @media only screen and (max-width:450px) {
        font-size: 20px;
      }
}
.table-ul{
   
    @media only screen and (max-width:992px) {
        width: 50%;
        margin: 0 auto;
      }
}

.cv-pannel-image img{
    width: 220px;
    height:auto;

    @media only screen and (max-width:991px) {
     padding-top: 20px !important;
     width: 180px;
    
      }
  
    @media screen and (max-width:1100px) and (min-width: 993px) {
        padding-right: 20px !important;
    }
}
.cv-tagline ul{
    list-style: none;
}
.cv-tagline ul li a{
    font-size: 16px;
    @media only screen and (max-width:450px) {
        font-size: 12px;
      }
}
.cv-tagline ul li{
    padding: 3px 0px !important;
}

.cv-tagline a{
    color: #B4B8BF;
}
.cv-icons{
    list-style: none;
    /* float: right; */
}

.cv-icons li i{
    font-size: 1.3rem;
    padding-right: 5px !important;
}
.cv-icons li a{
    color: #B4B8BF;
    font-size: 16px;
    @media only screen and (max-width:450px) {
        font-size: 12px;
      }
 
}
.cv-icons li{
    padding-right: 0px !important;
}
.career h1{
    font-size: 1.25rem;
    color: #434E5E;
}
.career-content p{
    color: #58677c;
}
.career-content p a{
    color: #58677c;
}
.custom-border{
    content: " ";
    border-top: 2px solid #58677C;
    color: #434E5E;

}
.experience-title h1{
    font-size: 1.25rem ;
    color: #434E5E;
}
.lead-title h1{
    font-size:18px;
    color: #434E5E;
}

.date p{
    font-size:12px ;
    color:rgb(197, 196, 196);
   
}
.lead-content p{
    color: #58677c;
}
.lead-technology h1{
    font-size:16px ;
    color: $color-gray;
    font-weight: bold;
}
.achievement-title h1{
    font-size:16px ;
    color: $color-gray;
    font-weight: bold;
}
.achiev-content{
    color: #58677c;
}
.achievement-title ul{
    color: #58677c;
}
.techno-list ul{
    list-style: none;
}
.senior-technology h1{
    font-size: 1rem;
    color: #434E5E;
}
.web-technology h1{
    font-size: 1rem;
    color: #434E5E;
}


/* second grid start here col-4 */


.skill-title h1{
    font-size: 1.25rem ;
    color: #434E5E;
}
.frontend-title h1{
    font-size: 1.25rem;
    color: #434E5E;
}
.frontend-contetn p{
    font-size:16px;
color:$color-gray;
}




.angular-border{
    border-bottom: 8px solid #434E5E;
    width: 90%;
}
.react-border{
    border-bottom: 8px solid #434E5E;
    width: 80%;
}
.java-border{
    border-bottom: 8px solid #434E5E;
    width: 95%;
}
.node-border{
    border-bottom: 8px solid #434E5E;
    width: 86%;
}
.html-border{
    border-bottom: 8px solid #434E5E;
    width: 98%;
}

/* front end border close here */

/* backend start here */


.backend-title h1{
    font-size: 1.25rem;
    color: #434E5E;
}
.backend-contetn p{
    font-size:16px;
color:$color-gray;
}

.python-border{
    border-bottom: 8px solid #434E5E;
    width: 78%;
}
.ruby-border{
    border-bottom: 8px solid #434E5E;
    width: 74%;
}
.php-border{
    border-bottom: 8px solid #434E5E;
    width: 68%;
}
.word-border{
    border-bottom: 8px solid #434E5E;
    width: 60%;
}


/* other list */

.other-title h1{
    font-size: 1.25rem;
    color: #434E5E;
}

.other-list ul{
    list-style: none;
}
/* //other */


.msc-heading p{
    font-size: 1.25rem;
    color: #58677c;
}
.degree-content p{
    font-size:14px;
    color: #434E5E;
}


/* //education */

/* award */

.award-title h1{
    font-size: 1.25rem;
    color: #434E5E;
}
.award-lorem h1{
    font-size: 1.1rem;
    color: #434E5E;
}
.lorem-content p{
    color: #434E5E;
}
.award-ipsum h1{
    font-size: 1.1rem;
    color: #434E5E;
}
.ipsum-content p{
    color: #434E5E;
}

/* //award */

.language-title h1{
    font-size: 1.25rem;
    color: #434E5E;
}
.languages h1{
    font-size: 1.1rem;
    color: #434E5E;
}
.languages h1 span{
    font-size: 0.8rem;
    color: #83878d;
}
