$color-lightblue:#41A4F5;
$color-white:#ffffff;
$color-lighgray:#f7f8fa;
body{
    background-color: $color-lighgray;
}
.page-heading h2{
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2;
}
.page-tagline p{
    font-size: 1.25rem;
}
.page-tagline p a{
    color: rgba(0,0,0,0.5);
    background-color: transparent;
}

/* media section start here */

.media-bg{
  
    display: block;
}
.media-heading h4{
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.2;
    padding-left: 1.5rem !important;

}
.media-date ul{
    list-style: none;
    padding-left: 0;
    color: #AAB4CB;
    padding-left: 1.5rem !important;

}
.media-date ul li{
    display: inline-block;
}
.media-text p{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #434E5E;
    text-align: left;
    padding-left: 1.5rem !important;

}