$color-lightblue: #41a4f5;
$color-white: #ffffff;
$color-lighgray: #f7f8fa;
$color-orange: #ffa700;
$color-black: #000000;
$color-lightgray: #e0dcdc;
$color-darkgray: #808080;
$color-gray: #434e5e;
$color-btn:#3483C4;
$color-hover:#3b93db;
$color-lightblack:#58677C;
body{
    background-color: $color-lighgray;
}
.page-heading h2{
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2;
}
.page-tagline p{
    font-size: 1.25rem;
}
.page-tagline p a{
    color: rgba(0,0,0,0.5);
    background-color: transparent;
}

/* media section start here */

.media-bg{
  
    display: block;
}
.media-heading h4{
    font-size: 32px;
    color:$color-lightblack;
    font-weight: bold;
  

}
.media-date ul{
    list-style: none;
    padding-left: 0;
    color: #AAB4CB;
    

}
.media-date ul li{
    display: inline-block;
    font-size: 12px;
}
.media-text p{
    font-size: 16px;
    color: $color-gray;
    

}
.media-button a{
    background-color:$color-btn !important;
    color: $color-white;
    padding: 10px 30px ;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none !important;
    border-radius: 5px !important;
}
.media-button a:hover{
    background-color:$color-hover !important;
    color: $color-white !important;
}
